ul {
  list-style-type: none;
}

.month {
  padding: 5px;
  width: 40%;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month .prev {
  float: left;
}

.month .next {
  float: right;
}

.week li {
  display: inline-block;
  width: 5%;
  text-align: center;
}

.days li {
  display: inline-block;
  width: 5%;
  text-align: center;
}

.days li.active {
  background: #4524d8;
  color: white;
}
